
.dark-background      { background: #1976D2; }
.default-background   { background: #2196F3; }
.light-background    { background: #BBDEFB; }
.text-color     { color: #FFFFFF; }
.accent-color            { background: #03A9F4; }
.accent-background { background: #03A9F4; }
.primary-text-color      { color: #212121; }
.secondary-text-color    { color: #727272; }
.divider-color           { border-color: #B6B6B6; }
.text-blue {
  color: #9857ff;
}
.uppr {
  text-transform: uppercase;
}
h3.uppr {
  border-bottom: 1px solid #4f4bd3;
}
html, body {
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: #f9f9f9;
   font-family: 'Advent Pro', sans-serif;
  }
 .container {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
 }
 main > .container {
  margin-top: 16px;
}
 .clear,
 .full::after, .container::after {
  content: "";
  display: table;
  clear: both; 
 }
 .grid {
  box-sizing: border-box;
  float: left;
 }
 .grid-two {
  width: 50%;
 }
 .grid-three {
  width: 33.333%;
 }
 .grid-four {
  width: 25%;
 }
 .full {
  width: 100%;
  box-sizing: border-box;
  margin: 8px auto;
 }
 .grid:last-child {
  float: right;
 }
 .button {
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
 }
 a {
  text-decoration: none;
 }
 #product-nav {
  list-style: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 24px;
  margin-bottom: 24px;
 }
 #product-nav li {
  float: left;
  padding: 8px 16px;
  font-size: 16px;
 }
 #product-nav li a {
  color: #212121;
 }
 #product-nav li a:hover,
 #product-nav li a:active {
  color: #919191;
 }
 .box {
  box-sizing: border-box;
  padding: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .1),-1px -1px 4px rgba(0, 0, 0, .1);
  border-radius: 5px;
 }
 .box h3 {
  margin: 4px;
 }
 .grid > .box {
  width: 90%;
  margin: 0 auto;
 }
 .product-line {
  border-bottom: 2px solid rgba(30, 30, 30, .2);
 }
 .product-line:last-child {
  border-bottom: 0 none;
 }
 .product {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
 }
 .product > img {
  display: block;
  margin: 0 auto;
  border: 1px solid rgba(30,30,30,.12);
  padding: 8px;
  box-sizing: border-box;
  height: 150px;
  width: auto;
 }
 .product:hover > img {
  box-shadow: 2px 2px 4px rgba(40,40,40,.15), -2px -2px 4px rgba(40,40,40,.15);
 }
 .product h2 {
  margin-top: 4px;
 }
 p {
  font-size: 18px;
 }
 footer {
  margin-top: 32px;
 }
 footer ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
 }
 .detail {
  text-align: center;
  background-color: #efefef;
  padding: 16px 0;
 }
 #demo-img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 4px solid #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
 }
 .button {
  border: 0 none;
  outline: 0 none;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  padding: 4px 8px;
  opacity: .92;
  cursor: pointer;
  color: #cdcefc;
 }
 .button:hover {
  opacity: .96;
 }
 .button:active {
  opacity: 1;
 }
 #price {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
 }
 .red {
  background-color: #992121;
 }
 .green {
  background-color: #219c21;
 }
 .blue {
  background-color: #21229a;
 }
 .grid-three > h1 {
  text-align: center;
 }
 form * {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .15);
  width: 100%;
  margin: 8px 0;
  padding: 4px 8px;
  border-radius: 4px;
 }