* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif
}

.contained {
    width: calc(1232px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

/* BEGIN OF HEADER */
header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 87px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#header-left {
    margin-top: 7px;
    display: inline-block;
    
}

#header-right {
    margin-top: 7px;
    display: block;
    float: right;
}

header ul li {
    display: inline-block;
    padding-bottom: 10px;
}

#header-left .name {
    color: rgb(27, 27, 27);
    text-decoration: none;
    line-height: 72px;
    padding: 0 16px;
    padding-bottom: 3px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.16px;
    text-transform: uppercase;
}

#header-right a {
    color: black;
    line-height: 72px;
    font-size: 25px;
    padding: 5px;
    margin: 10px;

}

header ul li:hover a .green-underline-text {
    border-bottom: 3px solid #378694;
    cursor: pointer;
}

/* Flyout-content */
.flyout-content {
    width: 100%;
    background-color: white;
    list-style: none;
    font-size: 15px;
    flex-direction: column;
    box-shadow: none !important;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: absolute;
    top: 87px;
    left: 0;
    display: none;
}

.flyout-box {
    width: calc(1232px + 40px);
    margin: 0 auto;
    padding: 1.5em 20px;
    height: 400px;
    /* display: none; */
}

.flyout-col {
    float: left;
    width: 18%;
    padding: 0 10px;
}

#fl-right {
    padding-left: 6%;
    border-left: 1px solid rgb(204, 204, 204);
}

.flyout-box .col-header {
    margin-bottom: 15px;
}

.flyout-col-header {
    font-weight: 600;
    cursor: initial;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
}

.flyout-col li {
    display: block;
    margin-bottom: 20px;
}

.flyout-col li a {
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 16.8px;
}

/* SEARCH BAR */
#search-bar {
    height: 72px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    background: #fff;
    display: none;
}
#search-frame {
    height: 72px;
    position: relative;
    align-items: center;
    display: flex;
}
#search-input {
    border: 1px solid #ababab;
    display: block;
    padding: 7px 2.05em 7px 16px;
    width: 1064.98px;
    font-size: 14px;
    height: 44px;
    letter-spacing: 0.02em;
    line-height: 1.471;

}

#search-lable-frame {
    position: relative;
    left: 1em;
}
#search-button {
    background-color: #000;
    margin-left: 1040px;
    padding: 12.5px;
    padding-bottom: 6.5px;
    position: absolute;
    top: 0em;
    cursor: pointer;
}
#search-button-icon {
    color: #fff;
    font-size: 20px;
}
#close-button {
    margin-left: 50px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}
/* END OF HEADER */

/* BEGIN OF FOOTER */

footer {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgb(204, 204, 204);
}

.footer-item {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.fi1 {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    line-height: 30px;
    font-weight: 700;
}

.fi2 {
    color: rgb(37, 42, 43);
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.footer-item .description1 {
    line-height: 21px;
    font-family: 'SVN-Proxima', 'sans-serif' !important;
    font-size: 14px;
    color: #252a2b;
}

.cs-item {
    font-size: 14px;
    color: rgb(37, 42, 43);
    text-decoration: none;
    line-height: 28px;
}

#ul1 li :hover {
    color: #e85205;
}

.phone-link {
    text-decoration: none;
    margin-top: 17px;
    margin-bottom: 17px;
}

.phone-link :hover p {
    color: #e85205;
}

.phone {
    display: inline-block;
    font-size: 14px;
    color: #252a2b;
    font-size: 18px;
}

.allDay {
    color: rgb(37, 42, 43);
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
}

#social-network {
    list-style-type: none;
    display: block;
    text-align: left;
}

#social-network li {
    display: inline-block;
    margin: 0 5px;
    margin-top: 20px;
}

#social-network a {
    font-size: 30px;
    padding: 3px 3px;
}

#social-network i {
    color: rgb(37, 42, 43);
    opacity: 0.85;
}

/* END OF FOOTER */