* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 87px;
    position: relative;
}

.contained {
    width: calc(1232px + 2 * 20px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    color: rgb(27, 27, 27);
    text-decoration: none;
    line-height: 72px;
    padding: 0 16px;
    padding-bottom: 3px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.16px;
    text-transform: uppercase;
}

#logo-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
}

#content {
    width: 100%;
    min-width: calc(1232px + 2 * 20px);
    margin-top: 88px;
    margin-bottom: 88px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

#frame {
    width: calc(1232px + 2 * 20px);
    margin: 0 auto;
    padding: 28px 20px;
    height: 500px;
    border: 1px solid #dadada;
}

#frame-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#login-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.login-title {
    display: block;
    width: 30%;
    font-size: 18px !important;
    margin-bottom: 8px;
    padding-right: 1em;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}